<div class="border border-white">
  <nav class="nav">
    <li [class]="btnClass" (click)="onClick('address')">Main Address</li>
    <li [class]="btnClass" (click)="onClick('department')">Departments</li>
    <li [class]="btnClass" (click)="onClick('contact')">Contacts</li>
  </nav>
  <div class="mx-auto my-2 p-2">
    <h6>Account ID : {{ account.id }}</h6>
    <h6>Client Name : {{ account.clientName }}</h6>
    <h6>Description: {{ account.description }}</h6>
    <h6>Legal Entity: {{ account.legalEntity }}</h6>
  </div>
  <div [ngSwitch]="tap" class="p-2 text-dark">
    <div *ngSwitchCase="'address'">
      <h1 class="text-center">Main Address</h1>
      <br />
      <h6>ID : {{ account.address?.id }}</h6>
      <h6>City : {{ account.address?.city }}</h6>
      <h6>Country: {{ account.address?.country }}</h6>
      <h6>Building Ref: {{ account.address?.buildingRef }}</h6>
      <h6>Fax No: {{ account.address?.faxNo }}</h6>
      <h6>Mobile Number {{ account.address?.mobileNo }}</h6>
    </div>
    <div *ngSwitchCase="'department'">
      <h1 class="text-center">Departments</h1>

      <div *ngFor="let dep of account?.departments; last as l">
        <br />
        <h6>ID: {{ dep.id }}</h6>
        <h6>Name: {{ dep.name }}</h6>
        <h6>Classification: {{ dep.classification }}</h6>
      </div>
    </div>
    <div *ngSwitchCase="'contact'">
      <h1 class="text-center">Contacts</h1>

      <div *ngFor="let con of account?.contacts; last as l">
        <br />
        <h6>ID: {{ con.id }}</h6>
        <h6>Name: {{ con.name }}</h6>
        <h6>Title: {{ con.title }}</h6>
        <h6>Position: {{ con.position }}</h6>
      </div>
    </div>
  </div>
</div>
